/*************************** ESTILOS GENERALES *******************/
*{
	box-sizing: border-box;
}
@font-face{
	font-family:"century";
	src:url("../fonts/century.ttf");
}
a,span,img{
	display: inline-block;
	vertical-align: top;
	text-decoration:none;
}
a,span,h1,h2,h3,h4,h5,h6,p,li,input,label{
	font-family: "century";
}
.btn{
	border:none;
	padding: 8px 18px;
	font-size: 15px;
	border-radius: 25px;
}
.btn-primary{
	background: #3D83C0;
	color:white;
}
.btn-success{
	background:#54AE54;
	color:white;
}
.btn-fail{
	background:#CD403C;
	color:white;
}
.box-cargado{
	width:100%;
	height: 100%;
	padding:20px;
}
.box-cargado-left{
	width:30%;
	height: 100%;
	float:left;
}
.box-cargado-right{
	width:70%;
	height: 100%;
	float:right;
}
.textos-form{
	padding: 3px;
	font-size: 16px;
	width:90%;
}

/*************************** ESTILOS PANEL CENTRAL *******************/
.clear{
	clear: both;
}
.bar-sup{
	width:100%;
	height:10vh;
}
.bar-lat img{
	width:100%;
	height:80px;
}
.bar-sup h1{
	display: inline-flex;
	/*alineacion vertical*/
	align-items: center;
	/*alineacion hori*/
	/*justify-content: center*/
	height: 100%;
	font-size: 17px;
	padding: 10px;
}
.bar-lat{
	width:15%;
	height:100vh;
	float:left;
	overflow: auto;
	background: #8CA9D5;
}

.bar-lat h2{
	padding: 10px;
	font-size: 20px;
	margin-bottom: 5px;
}
.bar-content{
	width:85%;
	height:100vh;
	background:#CFCFCF;
	float:right;
}
.box-data-user{
    width:100%;
	height: 13vh;
	background: white;
	border-bottom: 2px solid #74B845;
}
.box-user{
	float:right;
	margin-right: 10px;
	margin-top: 10px;
	padding: 12px;
	border-radius: 20px;
	border:1px solid black;
	background:#4C4C4A;
	color:white;	
}
.box-hide-user{
	width:100%;
	height: auto;
	padding: 10px;
	text-align: center;
	display: none;
}
#linkusuario{
	cursor:pointer;
}
.box-contenido{
	width:100%;
	height: 87vh;
}
.menu-lat{
	background: #3B4673;
	display: none;
}
.bar-lat h3{
	font-size: 15px;
	padding: 15px;
	margin-bottom: 5px;
	border-right: 3px solid #74B845;
	border-left: 3px solid #74B845;
	cursor: pointer;
}
.bar-lat h2,h3{
	color:white;
}
.menu-lat a{
	width:100%;
	font-size: 16px;
	color:white;
	padding:15px 0;
	padding-left: 15px;
}
.menu-lat a:hover{
	color:black;
	background:white;
}
.active{
	color:black !important;
	background:white;
}


/*************************** ESTILOS LOGIN *******************/
.body-login{
	width:100%;
	height:100vh;
	background-image: url("../img/login.jpg");
	position:relative;
}
.box-login{
	position:absolute;
	width:400px;
	height: auto;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	border:2px solid black;
	border-top-left-radius:35px;
	border-bottom-right-radius: 35px;
	background: rgba(0,0,0,0.2);
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.box-login h1{
	font-size: 25px;
	margin-bottom: 10px;
	color: white;
}

.icon-login{
	text-align: center;
	font-size: 80px;
	color: rgb(255,255,255);
}
.box-form fieldset{
	width: 100%;
	padding: 5px;
}
.box-form fieldset input[type='text'],input[type='password']{
	width: 80%;
	padding: 9px;
	font-size: 15px;
	border-radius: 10px;
	border: none;
	border:2px solid gray;
}
.box-form fieldset input[type='text']:hover,input[type='password']:hover{
	border:2px solid #3D83C0;
	background:  #15A9EE;
	color:white;
}